$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);
$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800');

body{
    background-color: $DarkBlue;
    font-family: Manrope;
}

.container{
    border: 3px solid $GrayishBlue;
    border-radius: 2px;
    background-color: $GrayishBlue;

    .advice{
        color: white;
    }
    .divider{

    }
    .dice{
        background-color: $NeonGreen;
        border: 1px solid $NeonGreen;
        border-radius: ;

    }

}

