@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800");
body {
  font-family: Manrope;
  background-color: hsl(218deg, 23%, 16%);
}

.container {
  border: 3px solid hsl(217deg, 19%, 38%);
  border-radius: 1rem;;
  background-color: hsl(217deg, 19%, 38%);
  padding: 1.2rem;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: calc(100vh - 0.1px); */
}
.container .advice {
  color: white;
  padding-bottom: 1rem;
}

.container h4{
  color: hsl(150, 100%, 66%);
  letter-spacing: 0.4rem;
  font-size: 0.825rem;

}

.container .dice{
  font-size: 28px;
  line-height: 1.5;

}