@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800");
body {
  font-family: Manrope;
  background-color: hsl(218deg, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 9rem;
}

.container {
  border: 1px solid hsl(217deg, 19%, 38%);
  border-radius: 1rem;
  background-color: hsl(217deg, 19%, 38%);
  padding: 1.2rem;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 22.5rem;
  position: relative;
}

.container .advice {
  color: white;
  padding-bottom: 1rem;
}

.container h4{
  color: hsl(150, 100%, 66%);
  letter-spacing: 0.4rem;
  font-size: 0.825rem;

}

.divider img{
  max-width: 100%;
}

.container .dice{
  font-size: 28px;
  line-height: 1.5;
}

.container button{
  background-color:hsl(150, 100%, 66%);
  border:none;
  padding: 1rem;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.container button:hover{
background-color:hsl(150, 53%, 44%);
}